<div class="aboutUsContainer">
  <div class="containerTitle">
    <h1>Acerca de nuestra compañía</h1>
  </div>
  <div class="aboutUsImageDescriptionContainer">
    <div>
      <img id="aboutUsImage" src="../assets/aboutUsImage.jpg" alt="WomanLaughting">
    </div>
    <div class="aboutUsDescriptionContainer">
      <!-- Sobre nosotros -->
      <p id="titleDescription">Nosotros</p>
      <span>En [Nombre del gimnasio], nuestra pasión es transformar vidas a través del fitness y el bienestar. Desde nuestra fundación en [Año de fundación], nos hemos dedicado a crear un espacio donde personas de todas las edades y niveles de condición física puedan alcanzar sus metas y descubrir su mejor versión.</span>

      <!-- Misión -->
      <p id="titleDescription">Nuestra mision</p>
      <span>Inspirar y motivar a nuestra comunidad a adoptar un estilo de vida saludable y activo, proporcionando un ambiente de entrenamiento inclusivo, seguro y energizante. Nos comprometemos a ofrecer programas innovadores, equipos de última generación y un equipo de profesionales altamente calificados para guiarte en cada paso de tu viaje hacia el bienestar.</span>

      <!-- Vision -->
      <p id="titleDescription">Nuestra visión</p>
      <span>Ser el gimnasio líder en [Ciudad/Región], reconocido por nuestra excelencia en el servicio, la calidad de nuestras instalaciones y el impacto positivo que generamos en la vida de nuestros miembros. Aspiramos a ser un centro de referencia en fitness y bienestar, donde la comunidad encuentre un lugar para crecer, conectar y prosperar.</span>
    </div>
  </div>
</div>
