<section class="contenedor">
<div class="font-serif mb-10">
    <h1 class="containerTitle">Reestablecer tu contraseña</h1>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <div class="bg-white w-full p-6 rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8 border border-gray-300 shadow-lg mb-8">
            <img src="../assets/forgotPassword.svg" alt="forgotPasswordIcon" class="h-40 w-40 text-center justify-center w-full mb-8">
            <p class="text-back font-bold">¿Olvidaste tu contraseña?</p>
            <p class="text-black">¡No te preocupes! Ingresa tu dirección de correo electrónico y te enviaremos un link para reestablecerla.</p>
            <form class="space-y-4 mx-auto max-w-md" action="">
                <div>
                    <label for="email" class="block mb-2 text-ml text-black font-bold">Correo electrónico:</label>
                <input type="email" name="email" id="email" class="border border-blue-900 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 border-gray-600" placeholder="nombre@correo.com" required>
                </div>
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="terms" class="text-black">Acepto los <a class="text-blue-500 font-bold" href="javascript:void(0)" onClick="openPopup()">términos y condiciones.</a></label>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-5 cursor-pointer text-center w-full hover:scale-105 rounded-full shadow-md">Reiniciar contraseña</button>
            </form>
        </div>
    </div>
</div>
</section>