<div class="plansContainer">
  <div class="aboutPlansTitle">
    <h1>Conoce nuestros planes</h1>
  </div>

  <div class="plansDescription">
    <div class="plan1">
      <h2>Nombre del plan</h2>
      <p>Descripción del plan</p>
      <img src="../assets/manRunning.jpg" alt="man running" />
      <h3>Precio del plan</h3>
    </div>
    <div class="plan2">
      <h2>Nombre del plan</h2>
      <p>Descripción del plan</p>
      <img src="../assets/manRunning.jpg" alt="man running" />
      <h3>Precio del plan</h3>
    </div>
    <div class="plan3">
      <h2>Nombre del plan</h2>
      <p>Descripción del plan</p>
      <img src="../assets/manRunning.jpg" alt="man running" />
      <h3>Precio del plan</h3>
    </div>
  </div>
</div>
