:host {
  display: block;
  min-height: 100vh;
  background-image: url('../../src/assets/backgroundGym.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}