<!-- footer.component.html
<footer class="bg-black text-[#F88B39] py-6 px-6 justify-center text-center">
  <div class="max-w-5xl mx-auto">
    <p class="font-bold mb-1">AV. 1º DE MAYO # 6 - 54 BARRIO: VELÓDROMO.</p>
    <p>BOGOTÁ D.C, COLOMBIA</p>
    <p>+57 3213213212</p>
  </div>
</footer> -->

<footer class="bg-black text-[#F88B39] py-6 px-6 justify-center text-center border-t border-white">
  <div class="max-w-5xl mx-auto">
    <p class="font-semibold mb-1">© 2025 Gym Tracker. Todos los derechos reservados.</p>
  </div>
</footer>