<div class="flex flex-col min-h-screen bg-main">
  <app-navbar></app-navbar>

  <main>
    <!-- FORMULARIO DE CREACIÓN -->
    <ng-container *ngIf="!isEditting; else editingForm">
      <h2 class="text-4xl font-bold text-center text-white my-6">
        Agregar <span class="text-primary">servicio</span>
      </h2>
      <p class="text-gray-400 text-lg text-center mb-2">
        Agrega un nuevo servicio a la lista
      </p>

      <form [formGroup]="serviceForm" (ngSubmit)="addService()"
        class="space-y-6 p-6 rounded shadow-md max-w-xl mx-auto">

        <!-- Nombre -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Nombre</label>
          <input type="text" formControlName="name" placeholder="Ej: Rumba"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Descripción -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Descripción</label>
          <textarea formControlName="description" rows="3"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>

        <!-- Precio -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Precio (COP)</label>
          <input type="number" formControlName="price" placeholder="Ej: 50000"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Tipo de Servicio -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Tipo de Servicio</label>
          <select formControlName="service_type"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="ACCESS">Acceso</option>
            <option value="TRAINING">Entrenamiento</option>
            <option value="NUTRITION">Nutrición</option>
            <option value="PHYSIOTHERAPY">Fisioterapia</option>
          </select>
        </div>

        <!-- Duración -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Duración (días)</label>
          <input type="number" formControlName="duration_days" placeholder="Ej: 30"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Requiere cita? -->
        <div class="flex items-center">
          <input type="checkbox" formControlName="requires_appointment"
            class="h-4 w-4 accent-primary focus:ring-primary border-gray-300 rounded cursor-pointer" />
          <label class="ml-2 block text-sm text-white">¿Requiere cita?</label>
        </div>

        <!-- Botones -->
        <div class="flex justify-center gap-3">
          <button type="submit" class="bg-primary text-white px-6 py-2 rounded hover:bg-orange-600">Guardar</button>
          <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500"
            routerLink="/services">Volver</button>
        </div>
      </form>
    </ng-container>

    <!-- FORMULARIO DE EDICIÓN -->
    <ng-template #editingForm>
      <h2 class="text-4xl font-bold text-center text-white my-6">
        Editar <span class="text-primary">servicio</span>
      </h2>
      <p class="text-gray-400 text-lg text-center mb-2">Edita un servicio ofrecido por el gimnasio</p>

      <form [formGroup]="editServiceForm" (ngSubmit)="editService()"
        class="space-y-6 p-6 rounded shadow-md max-w-xl mx-auto">

        <!-- Nombre -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Nombre</label>
          <input type="text" formControlName="name"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Descripción -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Descripción</label>
          <textarea formControlName="description" rows="3"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>

        <!-- Precio -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Precio (COP)</label>
          <input type="number" formControlName="price"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- Tipo de Servicio -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Tipo de Servicio</label>
          <select formControlName="service_type"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="ACCESS">Acceso</option>
            <option value="TRAINING">Entrenamiento</option>
            <option value="NUTRITION">Nutrición</option>
            <option value="PHYSIOTHERAPY">Fisioterapia</option>
          </select>
        </div>

        <!-- Duración -->
        <div>
          <label class="block text-sm font-medium text-white mb-1">Duración (días)</label>
          <input type="number" formControlName="duration_days"
            class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
        </div>

        <!-- ¿Requiere de cita? -->
        <div class="flex items-center">
          <input type="checkbox" formControlName="requires_appointment"
            class="h-4 w-4 accent-primary focus:ring-primary border-gray-300 rounded cursor-pointer" />
          <label class="ml-2 block text-sm text-white">¿Requiere cita?</label>
        </div>

        <!-- Botones -->
        <div class="flex justify-center gap-3">
          <button type="submit" class="bg-primary text-white px-6 py-2 rounded hover:bg-orange-600">Editar</button>
          <button type="button" class="bg-gray-400 text-white px-4 py-2 rounded hover:bg-gray-500"
            routerLink="/services">Volver</button>
        </div>
      </form>
    </ng-template>
  </main>

  <app-footer class="mt-auto"></app-footer>
</div>
