<app-navbar></app-navbar>
<main>
  <div class="bg-black py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <h1 class="text-xl font-bold text-center text-primary mb-4 ">Nuestros Servicios</h1>
      <p class="text-5xl text-white text-center">Transforma tu cuerpo, transforma tu vida</p>
      <div class="max-w-xl mx-auto mt-4 mb-8">
        <p class="text-gray-400 text-center">Descubre nuestra gama de servicios diseñados para ayudarte a alcanzar tus
          metas de fitness, sin importar tu nivel de experiencia.</p>
      </div>
      <!-- Botón agregar nuevo servicio -->
      <div *ngIf="role==='ADMINISTRATOR'" class="flex justify-center mt-10">
        <a class="bg-green-600 text-white px-6 py-3 rounded-lg shadow hover:bg-green-700 transition-colors mb-6 font-semibold"
          routerLink='add' (click)="goToAdd()">
          Nuevo servicio
        </a>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div *ngFor="let service of services"
          class="text-center bg-gray-800 shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-semibold text-gray-200">{{ service.name }}</h3>
          <p class="text-gray-500 mt-2">{{ service.description }}</p>
          <p class="text-primary font-semibold mt-4"> Precio:
            {{ service.price | currency:'COP':'symbol-narrow':'1.0-0' }} /mes
          </p>
          <p class="text-gray-200 mt-2">Duración: {{ service.duration_days }} días</p>

          <div *ngIf="role==='CLIENT'" class="mt-4 flex gap-3 justify-center">
            <button
              class="bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 transition-colors flex items-center gap-2"
              (click)="addServiceToCart('service', service.service_id, 1)"
              >
              <span>Agregar al carrito</span>
              <span class="material-symbols-outlined text-primary">shopping_cart</span>
            </button>
          </div>


          <div *ngIf="role==='ADMINISTRATOR'" class="mt-4 flex gap-3 justify-center">
            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors"
              (click)="goToEdit(service.service_id)">
              Editar
            </button>
            <!-- <button class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 transition-colors"
              (click)="deactivateService(service.service_id)">
              Desactivar
            </button> -->
            <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 transition-colors"
              (click)="removeService(service.service_id)">
              Eliminar
            </button>
          </div>
        </div>
      </div>

      <!-- Botón agregar nuevo servicio -->
      <div *ngIf="role==='ADMINISTRATOR'" class="flex justify-center mt-10">
        <a class="bg-green-600 text-white px-6 py-3 rounded-lg shadow hover:bg-green-700 transition-colors font-semibold"
          routerLink='add' (click)="goToAdd()">
          Nuevo servicio
        </a>
      </div>
    </div>
  </div>
</main>

<app-footer class="mt-auto"></app-footer>