<div class="flex flex-col min-h-screen gym-section">
  <app-navbar></app-navbar>

  <!-- Main centrado -->
  <main class="flex flex-1 items-center justify-center">
    <div class="text-center">
      <h1 class="text-white text-8xl font-bold">
        Eleva tu <span class="text-[#F88B39] blur-none">entrenamiento</span>
      </h1>
      <p class="text-white mt-4 text-lg">
        Descubre un nuevo nivel de fitness con nuestras instalaciones de vanguardia y entrenadores expertos.
      </p>
      <button routerLink="/services" class="mt-6 px-6 py-3 bg-[#F88B39] text-white font-semibold rounded-lg hover:bg-orange-600">
        Explorar servicios
      </button>
    </div>
  </main>

  <app-footer class="mt-auto"></app-footer>
</div>
