@font-face {
    font-family: 'BebasNeue'; /* Nombre que le darás a la fuente */
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'); /* Ruta al archivo .woff2 */
    font-weight: normal; /* Estilo de la fuente (normal, bold, etc.) */
    font-style: normal; /* Estilo de la fuente (normal, italic, etc.) */
  }

body {
    margin: 0;
}
.menu {
    display: flex;
    background-color: black;
    padding: 0;
    height: 7em;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-grow: 1;
    font-family: 'BebasNeue';
}

.contenedor-logo {
    align-self: center;
}

#logoSENA{
    width: 70px;
    height: 70px;
    margin-left: 4em;
    border-radius: 40px;
}

#list {
    align-self: center;
}

#list a {
    color: #E6ED07;
    font-size: x-large;
    text-decoration: none;
    text-transform: uppercase;
}

#listAncor:hover {
    color: orange;
}

.registerNav {
    color: #FAED27;
    display: flex;
    align-self: center;
}

.DivSignInButton {
    border: solid white;
    margin-right: 30px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.DivSignInButton a {
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

#SignInAncor {
    width: 100px;
    height: 28px;
    display: block;
    border-radius: 15px;
    align-content: center;
}

.DivSignInButton a:hover {
    background-color: grey;
    border-radius: 15px;
    border-color: #FAED27;
}

.RegisterButton {
    border: solid white;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin-right: 3em;
}

.RegisterButton a {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.RegisterButton a:hover {
    background-color: gray;
    border-radius: 15px;
}

#RegisterAncor {
    width: 100px;
    height: 28px;
    display: block;
    border-radius: 15px;
    align-content: center;
}





