@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal;
  }

body {
    margin: 0;
}

a {
    color: #FAED27;
}
.menu {
    display: flex;
    background-color: black;
    padding: 0;
    height: 7em;

}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-grow: 1;
    font-family: 'BebasNeue';
}

.contenedor-logo {
    align-self: center;
}

#logoGym{
    width: 70px;
    height: 70px;
    margin-left: 4em;
}

#list {
    align-self: center;
}

#list a {
    color: #E6ED07;
    font-size: x-large;
    text-decoration: none;
    text-transform: uppercase;
}

#listAncor:hover {
    color: orange;
}

.registerNav {
    color: #FAED27;
    display: flex;
    align-self: center;
}

.DivSignInButton {
    border: solid white;
    margin-right: 30px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.DivSignInButton a {
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

#SignInAncor {
    width: 100px;
    height: 28px;
    display: block;
    border-radius: 15px;
    align-content: center;
}

.DivSignInButton a:hover {
    background-color: grey;
    border-radius: 15px;
    border-color: #FAED27;
}

.RegisterButton {
    border: solid white;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin-right: 3em;
}

.RegisterButton a {
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.RegisterButton a:hover {
    background-color: gray;
    border-radius: 15px;
}

#RegisterAncor {
    width: 100px;
    height: 28px;
    display: block;
    border-radius: 15px;
    align-content: center;
}

.photoTitleContainer {
    display: flex;
    justify-content: center;
    margin: 7em 0 7em 0em;
}

#fotoGimnasio {
    width: 600px;
    height: 400px;
}

.gymDescription {
    align-self: center;
    margin-left: 8em;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    font-family: 'BebasNeue';
    color: #E6ED07;
    background-color: black;
    padding: 10px;
}

.infoCompanyContainer div {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.infoCompanyContainer div svg {
    width: 20px;
    height: 30px;
    margin: 0 20px 0 0;
}

.socialMedia a {
    text-decoration: none;
    color: #E6ED07;
}

/*ABOUT PLANS STYLES*/

.plansContainer {
    margin: 2em 0 5em 0;
}

.containerTitle {
    text-align: center;
    font-family: 'BebasNeue';
    color: #E6ED07;
    -webkit-text-stroke: 0.1px black;
    font-size: 50px;
    margin: 0;
    /* padding-bottom: 1em; */
}

.plansDescription {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 10em 0 10em;
}

.plan1, .plan2, .plan3{
    border: solid black;
    display: grid;
    flex-grow: 1;
    text-align: center;
    margin: 0 2em 0 2em;
}

.plan1 img, .plan2 img, .plan3 img {
    height: 200px;
    align-items: center;
    width: 80%;
    margin: auto;
}

.aboutUsImageDescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10em 0 10em;
}

#aboutUsImage {
    width: 600px;
    height: 400px;
    margin: 4em 5em 4em 0em;
    align-content: baseline;
    /* border: solid red */
}

.aboutUsDescriptionContainer {
    text-align: justify;
    align-content: center;
    padding: 0 0 2em 0;
}

#titleDescription {
    text-align: center;
    font-family: 'BebasNeue';
    font-weight: bold;
    color: #E6ED07;
    -webkit-text-stroke: 0.1px black;
    font-size: 35px;
    margin: 0.5em 0 0.5em 0;
}

#titlePrinciples{
    font-weight: bold;
}

/* STYLE SIGN IN FORM */

.signInImage {
    text-align: center;
    margin: 0 0 2em 0;
}

.signInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signInDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em; 
    font-size: 20px;
}

.signInDiv input {
    font-size: 15px;
}

.signInButtonDiv {
    text-align: center;
    width: 100%;
}

.signInButtonDiv button {
    /* border-radius: 50px; */
    margin-bottom: 5em;
}

.contenedor {
    background: url('../assets/backgroundGym.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nutritionContainer {
    background: url('../assets/food_plates.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}

.physiotherapistContainer {
    background: url('../assets/physiotherapist.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding-bottom: 40px;
    padding-top: 40px;
}

/* drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] */