<!-- Plantilla de Header para todas las páginas -->
<!-- Para usar esta plantilla, copie este contenido en cada página y reemplace "active" en la clase del enlace correspondiente -->

<header>
    <nav class="menu">
        <div class="contenedor-logo">
            <img id="logoGym" src="assets/Fuerza total.png" alt="Logo Gimnasio" />
        </div>
        <button class="navbar-toggle" id="navbar-toggle">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="nav-list" id="nav-list">
            <li id="list"><a id="listAncor" href="index.html">INICIO</a></li>
            <li id="list"><a id="listAncor" href="planes.html">PLANES</a></li>
            <li id="list"><a id="listAncor" href="entrenadores.html">ENTRENADORES</a></li>
            <li id="list"><a id="listAncor" href="GymTracker_Nutritionist.html">NUTRICIÓN</a></li>
            <li id="list"><a id="listAncor" href="fisioterapia.html">FISIOTERAPIA</a></li>
            <li id="list"><a id="listAncor" href="nosotros.html">SOBRE NOSOTROS</a></li>
            <li id="list"><a id="listAncor" href="contacto.html">CONTACTO</a></li>
        </ul>

        <div class="registerNav">
            <div class="DivSignInButton">
                <a id="SignInAncor" href="login.html">Iniciar Sesión</a>
            </div>
            <div class="RegisterButton">
                <a id="RegisterAncor" href="registro.html">Registrarse</a>
            </div>
        </div>
    </nav>
</header>

<!-- Recuerde incluir los siguientes scripts al final del body -->
<!-- <script src="js/main.js"></script> --> 