<!-- navbar.component.html -->
<nav *ngIf="!isAuthenticated" class="bg-black px-6 py-4 flex items-center justify-between">
  <div class="flex items-center gap-2 ml-6">
    <img src="../../assets/GymTrackerLogo.png" alt="Logo" class="h-12 w-auto" />
    <h1 class="font-bold text-[#F88B39]">GYM TRACKER</h1>
  </div>

  <ul class="flex gap-12 font-bold text-lg uppercase tracking-wide">
    <li><a routerLink="" class="hover:text-orange-100">Inicio</a></li>
    <li><a routerLink="/services" class="hover:text-orange-100">Servicios</a></li>
    <li><a routerLink="/products" class="hover:text-orange-100">Productos</a></li>
    <li><a routerLink="/aboutUs" class="hover:text-orange-100">Sobre nosotros</a></li>
  </ul>

  <div class="flex gap-4">
    <button
      class="rounded-lg px-4 py-2 bg-primary text-black font-bold shadow-[0_0_15px_#F88B39] hover:shadow-[0_0_25px_#F88B39] hover:bg-orange-600 transition"
      routerLink="/auth">
      Iniciar sesión
    </button>
  </div>
</nav>
<nav *ngIf="isAuthenticated" class="bg-black px-6 py-4 flex items-center justify-between border-b border-white">
  <!-- Logo -->
  <div class="flex items-center gap-4">
    <img src="../../assets/GymTrackerLogo.png" alt="Logo" class="h-12 w-auto" />
    <h1 class="font-bold text-[#F88B39]">GYM TRACKER</h1>
  </div>

  <!-- Links -->
  <ul class="flex gap-12 font-bold text-lg uppercase tracking-wide">
    <li><a routerLink="" class="hover:text-orange-100">INICIO</a></li>
    <li *ngIf="role==='ADMINISTRATOR'"><a routerLink="/client" class="hover:text-orange-100">CLIENTES</a></li>
    <li><a routerLink="/professionals" class="hover:text-orange-100">PROFESIONALES</a></li>
    <li><a routerLink="/services" class="hover:text-orange-100">SERVICIOS</a></li>
    <li><a routerLink="/products" class="hover:text-orange-100">PRODUCTOS</a></li>
    <li *ngIf="role==='CLIENT'"><a routerLink="/appointment" class="hover:text-orange-100">CITAS</a></li>
  </ul>

  <!-- Dropdown -->
  <div class="flex user-menu">
    <a class="text-white mr-6 mt-1 content-center hover:text-primary" routerLink="/cart">
      <span class="material-symbols-outlined">shopping_cart</span>
    </a>
    <div class="h-12 w-px bg-white/20 mr-8"></div>
    <button (click)="toggleMenu()"
      class="flex items-center gap-2 px-4 py-2 rounded-md bg-gray-800 hover:bg-gray-700 text-white shadow-[0_0_15px_#F88B39] hover:shadow-[0_0_25px_#F88B39]">
      <img src="assets/user-icon.svg" alt="User" class="w-8 h-8 rounded-full">
      <span>Bienvenido, {{ userLogged }}</span>
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </button>

    <div *ngIf="menuOpen"
      class="absolute right-0 mt-12 mr-6 w-48 bg-gray-800 rounded-md shadow-lg transition-all duration-300 z-50">
      <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-700 text-white">Perfil</a>
      <a *ngIf="role==='CLIENT'" [routerLink]="['/orders']" class="block px-4 py-2 hover:bg-gray-700 text-white">Tus ordenes</a>
      <a (click)="logout()" class="block px-4 py-2 hover:bg-gray-700 text-white cursor-pointer">Cerrar sesión</a>
    </div>

  </div>
</nav>