<div class="flex flex-col min-h-screen">
<app-navbar></app-navbar>
<main class="flex min-h-screen bg-gray-100 p-10">
  <!-- Perfil del cliente -->
  <div class="bg-white shadow-xl rounded-lg p-6 w-full max-w-sm">
    <div class="text-center mb-6">
      <img src="../../assets/male-client.svg" alt="Icono cliente" class="h-24 w-24 mx-auto rounded-full border-2 border-gray-300">
      <h2 class="text-xl font-bold mt-4 text-gray-800">{{ clientFounded.client.first_name }} {{ clientFounded.client.last_name }}</h2>
    </div>

    <div class="text-gray-700 space-y-2">
      <!-- <p><span class="font-semibold">Tipo Documento:</span> CC</p> -->
      <p><span class="font-semibold">Documento:</span> {{ clientFounded.client.document_number }}</p>
      <!-- <p><span class="font-semibold">Número telefónico:</span> 123456789</p> -->
      <!-- <p><span class="font-semibold">Número telefónico alterno:</span> 123456789</p> -->
      <p><span class="font-semibold">Correo Electrónico:</span> {{ clientFounded.client.email }}</p>
      <p><span class="font-semibold">Fecha Registro:</span> {{ formattedRegistrationDate }}</p>
      <p class="flex items-center gap-2">
        <span class="font-semibold">Estado:</span>
        {{ clientFounded.client.user_status }}
        <img *ngIf="clientFounded.client.user_status === 'ACTIVE'" src="../assets/active-icon.svg" alt="Icono cliente activo" class="h-5 w-5">
        <img *ngIf="clientFounded.client.user_status === 'INACTIVE'" src="../assets/inactive-icon.svg" alt="inactivo" class="h-5 w-5">
      </p>
    </div>

    <div class="mt-10 space-y-4">
      <a class="block w-full py-3 text-sm text-center text-white bg-blue-500 hover:bg-blue-700 rounded-lg" (click)="goToEditForm()">
        Editar cliente
      </a>
      <a class="block w-full py-3 text-sm text-center text-white bg-yellow-500 hover:bg-yellow-700 rounded-lg hover:cursor-pointer" (click)="updateClientStatus()">
        Desactivar cliente
      </a>
      <a class="block w-full py-3 text-sm text-center text-white bg-red-500 hover:bg-red-700 rounded-lg hover:cursor-pointer" (click)="deleteClient()">
        Eliminar cliente
      </a>
    </div>
  </div>

  <!-- Gestión del cliente -->
  <div class="flex-1 ml-10 p-6 bg-white shadow-xl rounded-lg">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)]">Gestión general del cliente</h1>

    <div class="flex justify-center">
      <div class="w-2/3 flex flex-col items-center space-y-4">
        <a class="block w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition text-center" href="#clients/clientRoutines">
          Rutinas asignadas
        </a>
        <a class="block w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition text-center" href="#clients/nutrition/clientNutritionPlans">
          Planes alimentarios
        </a>
        <a class="block w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition text-center" href="#clients/physiotherapy/physiotherapyPlans">
          Fisioterapia
        </a>
        <a class="block w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition text-center" href="#clients/appointment/appointmentList">
          Citas programadas
        </a>
        <a class="block w-full py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition text-center" href="#clients/paymentHistory/paymentHistory">
          Historial de pagos
        </a>

        <div class="mt-10">
          <img src="../../assets/grafica-medidas.png" alt="Medidas cliente" class="block">
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer class="my-auto"></app-footer>
</div>