<div class="flex flex-col min-h-screen bg-main">
  <app-navbar></app-navbar>
  <main class="flex-grow container mx-auto px-8 sm:px-6 lg:px-8 py-8">
    <div class="max-w-4xl mx-auto rounded-xl">
      <div class="bg-[#242424] rounded-xl shadow-2xl overflow-hidden">
        <div class="p-8">
          <div class="flex flex-col sm:flex-row items-center gap-6">
            <img alt="Avatar del usuario" class="h-28 w-28 rounded-full border-4 border-primary shadow-lg mr-4<"
              src="/assets/male-client.svg" />
            <div class="text-center sm:text-left">
              <h1 class="text-3xl font-bold text-white">{{ clientFounded.first_name }} {{
                clientFounded.last_name }}</h1>
              <p class="text-gray-400 mt-2">{{ clientFounded.document_number }} • {{ clientFounded.email
                }}</p>
              <div class="flex items-center justify-center sm:justify-start gap-4 mt-2">
                <p class="text-sm text-gray-400">Miembro desde: {{ formattedRegistrationDate }}</p>

                <span *ngIf="clientFounded.user_status === 'ACTIVE'; else deactive"
                  class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-800/50 text-green-300">Activo</span>

                <ng-template #deactive>
                  <span
                    class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-800/50 text-red-300">Inactivo</span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="mt-4 flex flex-wrap gap-4 p-8">
            <button
              (click)="goToEditForm()"
              class="flex-1 px-4 py-2 rounded-lg text-sm font-semibold bg-primary text-white hover:bg-primary/90 transition-colors shadow-md">Editar
              Cliente</button>
            <button
            *ngIf="clientFounded.user_status==='ACTIVE'"
            (click)="updateClientStatus()"
              class="flex-1 px-4 py-2 rounded-lg text-sm font-semibold bg-gray-700 hover:bg-gray-600 text-white transition-colors">Desactivar
              Cliente</button>
              <button
            *ngIf="clientFounded.user_status==='INACTIVE'"
            (click)="reactivateUser(userId!)"
              class="flex-1 px-4 py-2 rounded-lg text-sm font-semibold bg-orange-700 hover:bg-orange-600 text-white transition-colors">Activar
              Cliente</button>
            <button
            (click)="deleteClient()"
              class="flex-1 px-4 py-2 rounded-lg text-sm font-semibold bg-red-800/80 hover:bg-red-700/80 text-white transition-colors">Eliminar
              Cliente</button>
          </div>
        </div>
      </div>
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <button
          class="bg-[#242424] rounded-xl shadow-lg p-6 text-left hover:bg-black/20 transition-colors duration-300">
          <h3 class="text-lg font-bold text-white">Rutinas Asignadas</h3>
          <p class="text-gray-400 mt-1 text-sm">Ver y gestionar las rutinas de entrenamiento.</p>
        </button>
        <button
          class="bg-[#242424] rounded-xl shadow-lg p-6 text-left hover:bg-black/20 transition-colors duration-300">
          <h3 class="text-lg font-bold text-white">Planes Alimentarios</h3>
          <p class="text-gray-400 mt-1 text-sm">Consultar y modificar los planes nutricionales.</p>
        </button>
        <button
          class="bg-[#242424] rounded-xl shadow-lg p-6 text-left hover:bg-black/20 transition-colors duration-300">
          <h3 class="text-lg font-bold text-white">Planes de Fisioterapia</h3>
          <p class="text-gray-400 mt-1 text-sm">Acceder a los planes de recuperación y terapia.</p>
        </button>
        <button
          class="bg-[#242424] rounded-xl shadow-lg p-6 text-left hover:bg-black/20 transition-colors duration-300">
          <h3 class="text-lg font-bold text-white">Citas Programadas</h3>
          <p class="text-gray-400 mt-1 text-sm">Ver el calendario de citas y sesiones.</p>
        </button>
        <button
          (click)="goToClientPayments(clientFounded.client_id)"
          class="bg-[#242424] rounded-xl shadow-lg p-6 text-left hover:bg-black/20 transition-colors duration-300">
          <h3 class="text-lg font-bold text-white">Historial de Pagos</h3>
          <p class="text-gray-400 mt-1 text-sm">Consultar el registro de transacciones y pagos.</p>
        </button>
      </div>
      <div class="mt-8 bg-[#242424] rounded-xl shadow-lg p-6">
        <h2 class="text-2xl font-bold text-white mb-4">Evolución de Medidas Corporales</h2>
        <div class="h-auto">
          <app-measures-chart></app-measures-chart>
        </div>
      </div>
    </div>
  </main>
  <app-footer class="my-auto"></app-footer>
</div>