<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<div>
  <div>
    <h1 class="containerTitle">Términos y condiciones</h1>
  </div>
  <div>
    <h2>1. Introducción</h2>
    <p>
        Al solicitar el restablecimiento de su contraseña en nuestra aplicación de gimnasio, usted acepta los siguientes términos y condiciones. Este proceso está diseñado para proteger su cuenta y garantizar la seguridad de su información personal.
    </p>

    <h2>2. Requisitos</h2>
    <p>
        Para restablecer su contraseña, debe cumplir con los siguientes requisitos:

        <ol>

        <li>Proporcionar la dirección de correo electrónico asociada a su cuenta.</li>
        
        <li>Acceder al enlace enviado a su correo electrónico en el tiempo estipulado.</li>
        
        <li>Crear una nueva contraseña que cumpla con nuestras normas de seguridad.</li>
        </ol>
    </p>

    <h2>3. Seguridad</h2>
    <p>
        El enlace de restablecimiento enviado a su correo electrónico tiene una validez limitada por motivos de seguridad.

        Si no reconoce la solicitud de restablecimiento, se recomienda ignorar el correo y comunicarse con nuestro soporte técnico.
        
        Su nueva contraseña no debe ser compartida con terceros.
    </p>

    <h2>4. Responsabilidad del Usuario</h2>
    <p>
        Usted es responsable de mantener la seguridad de su cuenta.

        El gimnasio no se hace responsable por accesos no autorizados a su cuenta si su información ha sido comprometida por negligencia.
        
        En caso de actividad sospechosa en su cuenta, le recomendamos actualizar su contraseña y contactar a soporte.
    </p>
  </div>
</div>
</html>
